@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Pangolin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    min-height: 100vh;
}

.container {
    height: 25vw;
    width: 35vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24vh;
    margin: auto;
    border: 0.5vw solid rgba(8, 0, 0, 0.575);
    border-radius: 14%;
    background-color: rgb(73, 70, 70);
}

#clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    height: 20vw;
    width: 30vw;
    border: 3px solid rgb(78, 5, 78);
    border-radius: 10%;
    color: white;
    /* font-size: 10vw; */
}

#clock .getDate {
    font-size: 3.5vw;
    font-weight: lighter;
    font-family: 'Mate SC', serif;
}

#clock .getTime {
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
}

#clock .weekDay {
    font-size: 3.5vw;
    font-weight: lighter;
    font-family: 'Mate SC', serif;
}

/* Media Queries  */

@media only screen and (max-width: 480px) {

    .container {
        height: 48vw;
        width: 78vw;
        top: 24vh;
    }

    #clock {
        height: 38vw;
        width: 70vw;
        font-size: 10vw;
    }

    #clock .getDate {
        font-size: 8vw;
    }

    #clock .getTime {
        font-size: 11vw;
    }
    
    #clock .weekDay {
        font-size: 8vw;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .container {
        height: 38vw;
        width: 60vw;
        top: 25vh;
    }

    #clock {
        height: 28vw;
        width: 50vw;
        font-size: 9vw;
    }

    #clock .getDate {
        font-size: 5vw;
    }

    #clock .getTime {
        font-size: 8vw;
    }
    
    #clock .weekDay {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .container {
        height: 32vw;
        width: 48vw;
        top: 26vh;
    }

    #clock {
        height: 25vw;
        width: 42vw;
        font-size: 9.5vw;
    }

    #clock .getDate {
        font-size: 4vw;
    }

    #clock .getTime {
        font-size: 7vw;
    }
    
    #clock .weekDay {
        font-size: 4vw;
    }

}